/*Téléchargement de la police Raleway*/
@font-face
{
    font-family: 'Raleway';
    src: url('raleway/Raleway-Black.ttf'),
}

*{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}
/*General*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: large;
}

p{
    font-size: small;
}

h3{
    font-weight: bold;
}
/*HEADER Menu Navigation*/

.headerNav, .Signup{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 0px;
}
.navlink, .Signup{
    padding: 3rem 3rem 0.8rem 3rem;
}


/*Recherche et Filtres*/
.filtres{
    display: flex;
    flex-direction: row;
    margin-right: 0.5;
    font-size: medium;
    border-radius: 1;
}
.filter-cell{
    display: flex;
    align-items: center;
    border-radius: 2em;
    border: 2px #d9d9d9;
}
.filtre-img{
    padding: 15px 15px;
    border-radius: 50%;
    background-color: #d9d9d9;
}
.fas{
    color: #0065fc;
    border: lightblue;
    border-radius: inherit;
}
.title{
    box-sizing: border-box;
}
/*Hébergements*/
.hebergementetpop{
    margin: 25px 0 50px;
    display: flex;
    flex-direction: column;
}
#Hebergements{
    position: relative;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 25px 0 0;
}


#populaires{
    position: relative;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 25px 0 0;
}
/*Activités*/

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 20px 3vw 0px 3vw;
    justify-items: start;
    margin: 0px;
}
.a_propos, .nos_hebergements, .assistance{
    display: block;
}


