/*Téléchargement de la police Raleway*/
@font-face
{
    font-family: 'Raleway';
    src: url('raleway/Raleway-Black.ttf'),
}

*{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}
/*General*/
body{
    display: block;
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
}

.fa-fw{
    text-align: center;
}



*{


    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: large;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
p{
    font-size: small;
}

h3{
    font-weight: bold;
}
section{
    line-height: 1.5rem;
}
div, section{
    display: block;
}
header, section, article{
    margin-left: 1rem;
    margin-right: 1rem;
}
footer{
    max-width: 1170px;
    margin: auto;
}
/*HEADER Menu Navigation*/
header{
    display: flex;
    height: 6rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
}
.headerNav .lien1 #active{
    color: gray;
    border-top: 3px solid #0065fc;
}


.headerNav ul{
    display: flex;
    justify-content: flex-end;
    vertical-align: top;
    align-items: stretch;
    list-style: none;
    width: 30rem;
    height: 100%;
    margin-bottom:  1rem;
}    
.headerNav ul li{
    text-align: center;
    height: 4rem;
    width: 8rem;
    padding-top: 2rem;
}
header .Signup{
    font-weight: bold;
    color: #0065fc;
}
   
.information p{
    font-weight: normal;
}

/*Recherche et Filtres*/
.searchbar{
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: 2rem;
    width: 25rem;
}
.searchbar .fa-map-marker-alt{
    float: left;
    align-items: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.9rem;
    border-radius: 10px 0 0 10px;
    font-size: 17px;
    background: #ddd;
    border: none;
    cursor: pointer;
    width: 7%;
    height: 3rem;
}
.searchbar input{
    width: 75%;
    height: 3rem;
    padding: 6px;
    margin-right: 0;
    margin-top: 8px;
    font-size: 17px;
    border-top: solid #ddd 1px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
}
.searchbar .recherche{
    float: right;
    position: absolute;
    color: #fff;
    background: #0065fc;
    font-size: 17px;
    width: 120px;
    height: 3rem;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.filter-cell{
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2em;
    border: 2px solid #d9d9d9;
    margin-left: 1.5rem;
    padding-right: 20px;
}
.filter-cell i{
    position: absolute;
    background-color: #deebff;
    color: #0065fc;
    text-align: center;
    width: 2.3rem;
    height: 2.5rem;
    border-radius: 100vh;
    padding-top: 10px;
}
.filter-cell .title{
    height: 2rem;
    width: 10rem;
    text-align: center;
    padding-left: 3rem;
    margin-left: 4px;
    border: 1px solid #F2F2F2;
    border-radius: 2rem;
    border-left: none;
    font-size: 1rem;
    font-weight: bold;
}

}
.fas{
    color: #0065fc;
    border: 2px solid lightblue;
    border-radius: 2rem;
    align-items: center;
}
.title{
    box-sizing: border-box;
}
.InfoResultSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.InfoResultSearch a{
    margin: 0 0.5rem 0 0.5rem;
    text-decoration: none;
    border: none;
}
.InfoResultSearch a i{
    color: #0065fc;
    border: solid #F2F2F2 1px;
    text-align: center;
    border-radius: 100vh;
    height: 1.5rem;
    width: 1.5rem;
}

/*Hébergements*/
article{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    height: auto;
    margin-bottom: 3rem;
}
.groupe{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: auto;
}
    
#Hebergements{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #f2f2f2;
}
article .groupe .hotel{
    display: block;
    flex-direction: row;
    background: #fff;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 3px 6px;
}
.hotel{
    margin-bottom: 20px;
    border-radius: 10px;
}
#Hebergements img{
    height: 100%;
    width: 190px;
    max-height: 90px;
    border-radius: 10px 10px 0 0;
}
#populaires img{
    object-fit: fill;
    border-radius: 10px 0 0 10px;
    width: 150px;
    max-height: 150px;
}
#populaires .hotelpop{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    height: 100px;
    width: fit-content;
}
aside #populaires{
    float: right;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    border-radius: 0;
    padding-bottom: 30px;
    background-color: #f2f2f2;
    margin: 0;
    width: 30%;
    box-shadow: 3px 3px 6px;
}
#populaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 340px;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-bottom: 30px;
    margin: 0;
}
#populaires .poptitle{
    display: inline-block;
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
}
#populaires .details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}
.details h4{
    margin-top: 5px;
    font-size: 00.9rem;
}
/*Activités*/
#Activites{
    margin-top: 40px;
}
#Activites .groupe2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
    height: 80%;
}

#Activites .groupe2 h2{
    display: inline-block;
    align-items: flex-start;
    width: 100%;
}

#Activites .activitescard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#Activites .groupe2 .col1{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 500px;
    width: 20%;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    color: black;
    box-shadow: 3px 3px 6px;
}
.groupe2 .col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col1{
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #999;
}
.groupe2 .col1 img{
    border-radius: 10px 10px 0 0;
    height: 85%;
    object-fit: cover;
}
.groupe2 .col1 h4{
    padding-left: 1rem;
} 

#Activites .groupe2 .col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 500px;
    width: 20%;
    border-radius: 15px;
    margin: 10px 40px 10px 40px;
}
.col2 .img1, .col4 .img2{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    height: 55%;
}
.col2 .img2, .col4 .img1{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    height: 35%;
}

#Activites .groupe2 .col4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 500px;
    width: 20%;
    border-radius: 15px;
    margin: 10px 0 10px 40px;
}
/*FOOTER*/
footer{
    background: #F2F2F2;
    padding-top: 40px;
    margin-top: 40px;
}
.menu_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
footer ul{
    list-style-type: none;
    width: 340px;
    margin-bottom: 20px;
}
footer li{
    line-height: 1.5rem;
}

