/*Téléchargement de la police Raleway*/
@font-face
{
    font-family: 'Raleway';
    src: url('raleway/Raleway-Black.ttf'),
}

*{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}
/*General*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: large;
}

p{
    font-size: small;
}

h3{
    font-weight: bold;
}
div, section{
    display: block;
}

/*HEADER Menu Navigation*/
header{
    display: flex;
    height: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
}
.headerNav .lien1 #active{
    color: gray;
    border-top: 3px solid #0065fc;
}

}
.headerNav,{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
    padding: 40px 0px;
}
nav a, .Signup{
    padding: 16px;
    text-decoration: none;
    margin-left: 50px;
}
.information{
    
}

/*Recherche et Filtres*/
.filtres{
    display: flex;
    flex-direction: row;
    margin-right: 0.5;
    font-size: medium;
    border-radius: 1;
}
.filter-cell{
    display: flex;
    align-items: center;
    border-radius: 2em;
    border: 2px #d9d9d9;
}
.filtre-img{
    margin: 0.5rem 0;
    margin-right: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #d9d9d9;
    font-weight: 800;
    overflow: hidden;
}
.fas{
    color: #0065fc;
    border: 2px solid lightblue;
    border-radius: 2rem;
}
.title{
    box-sizing: border-box;
}
/*Hébergements*/
.hebergementetpop{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
}
#Hebergements{
    display: flex;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 25px 0 0;
}
.hotel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    height: auto;
    margin: 0.5rem;
}



#populaires{
    display: flex;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 25px 0 0;
}
/*Activités*/

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 20px 3vw 0px 3vw;
    justify-items: start;
    margin: 0px;
}
.menu_footer{
    display: block;
}


